<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <appSettings>
    <add key="Thumbprint" value="A47E2E9643B8868E403A2E37E113C1667266F767"></add>
    <add key="Issuer" value="urn:be:fgov:ehealth:sts:1_0"></add>
    <add key="MetaCertificateFile" value="eHealth_metadata.xml" />
    <add key="CwpCredentialTimerInMinutes" value="0"/>
  </appSettings>

</configuration>
