<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <appSettings>
    <add key="Thumbprint" value="5D597F0186FBC80F0B08E516067FD916EDFCA557"></add>
    <add key="Issuer" value="urn:be:fgov:ehealth:sts:1_0"></add>
    <add key="MetaCertificateFile" value="federationmetadata-mynovtest.xml" />
    <add key="CwpCredentialTimerInMinutes" value="0"/>
  </appSettings>

</configuration>
